/www/*
!/www/example-app

/hosts/*
!/hosts/example.conf

!/logs/.gitkeep
/logs/*

/db/initdb/*
/db/data/*
/db/mysql/*
/db/postgres/*
/db/clickhouse/*
/db/dumps/*
!/db/initdb/extension-uuid.sql
!/db/data/.gitkeep
!/db/mysql/.gitkeep
!/db/clickhouse/.gitkeep
!/db/dumps/.gitignore

/meilisearch/*

/.vscode
/.idea
.env